body {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
  background-color: white;
  width: 500px;
  padding: 20px;
  margin-left: 100px;
  margin-top: 20px;
  border: white;
  border-radius: 25px;
}

table {
  padding-left: 75px;
}

h1 {
  color: grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sol {
  background-color: #ffff00;
}
